/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


body {
    line-height: 1;
    background-color : #e3f2fd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*Mine*/

#navBar {color : red;}


h1 {color : #e57373;
    text-align : center;
}

button {border-radius : 5px;}

button:hover {
    color : red;
}

input[type=submit] {border-radius : 5px;}
input[type=submit]:hover {color : red;}



.notecard {
    background-color : #FFFFF1;
    padding : 15px;
    border : 1px solid black;
    border-radius : 10px;  }

.notecard table tr{
    padding : 5px;
}

.notecard table td{
    padding : 5px;
}

.notecard td .alignRight{
    text-align : right;
}

.notecard td .alignLeft{
    text-align : left;
}

/*.popup {*/
    /*z-index: 10;*/
    /*display : inline;*/
    /*overflow: scroll;*/
    /*!*min-width : 60%;*!*/
    /*border : 1px solid black;*/
    /*background-color : grey;*/
    /*border-radius : 15px;*/
    /*opacity: .95;*/
    /*!*top : 35%;*!*/
    /*!*bottom : 20%;*!*/
    /*!*left : 25%;*!*/
    /*!*right : 25%;*!*/
    /*!*position : fixed;*!*/
    /*height : auto;}*/

/*.popup .popupContent{*/
    /*!*min-width: 100%;*!*/
    /*margin-left : 10%;*/
    /*overflow : scroll;*/
    /*margin-right : 25%;*/
    /*margin-top : 5%;*/
    /*position : fixed;*/
    /*top : 35%;*/
    /*bottom : 20%;*/
    /*left : 25%;*/
    /*right : 25%;*/
/*}*/

.popup{
    display : block;
    position : fixed;
    z-index : 1000;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    overflow : auto;
    background-color : rgba(110,110,110,0.6);
}

.popupContent{
    margin : 15% auto;
    padding : 20px;
    border : 1px solid black;
    background-color : #f4eff7    ;
    width : 65%;
    border-radius : 10px;
}

.popup .popupContent table td{
    /*border : 1px solid black;*/
}

.popup .rightAlign table td{
    text-align : right;
}

.hiddenDiv {
    display : none;
}

.btn {
    border-radius : 100px;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
input,
input::-moz-placeholder {
    font-size: 20px;
    line-height: 3;
}



/*.popup table {*/
        /*!*padding : 175px;*!*/
        /*margin : 10%}*/
