/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    line-height: 1;
    background-color : #e3f2fd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*Mine*/

/*Regular Site Nav Bar*/
#navBar {color : red;}

.bread {margin-top : 1%;
        margin-left : 1%}


/*Portal Nav Bar*/
nav a {
    padding : 0;
}

nav .button-collapse {
    padding : 0;
    margin : 0;
}

nav ul li {
    list-style : none;
    text-align: center;
}

#menuButton{
    position: absolute;
    width : 5px;
    left : 1%;
}

#portalNavTitle {
    margin-left : 5%;
}

#searchBar {
    width : 35%;
    left : 5%;
}

#searchIcon {
    left : 2.5%;
}

#cartIcon {
    position : absolute;
    right : 4%;
    width : 7.5%;
}

#cartIconContainer {
    display:inline-block;
    position : absolute;
    top : 0;
    right: 0;
}

#searchMobile{
    width : 95%;
    left : 5%;
}

#searchIconMobile{
    position : absolute;
    right : 5%;
}


h1 {color : #e57373;
    text-align : center;
}

h2 {  color : #ff9e80;  }

h3 {  color : #2ab5e0;  }

h4 { color : #9fa8da; text-align: center}

button {border-radius : 5px;}

button:hover {
    color : red;
}

input[type=submit] {border-radius : 5px;}

input[type=submit]:hover {color : red;}

/*Portal Item Page*/

.itemDescription {
    width: 60%;
    padding-top: calc(1% - 5px);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
    margin-top : 5%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    background-color: #fff3e0;
    text-align:center;
}


/*Popup stuff*/
.popup{
    display : block;
    position : fixed;
    z-index : 1000;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    overflow-y: auto;
    background-color : rgba(110,110,110,0.6);
}

.popup.important {
    z-index: 2000;
}

.popupContent{
    margin-left: auto;
    margin-right: auto;
    margin-top : 3.25%;
    margin-bottom: 5%;
    border : 1px solid black;
    background-color : #f4eff7    ;
    width : 65%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.popupHeader{
    background-color: #7986cb;
    width: 100%;
    height:100%;
    text-align:right;
    display:flex;
    justify-content: flex-end;
    border-collapse: collapse;
    border-top: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: -1px;
}

.closeIcon:hover {
    background-color: #4c5ba8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.popupContainer{
    padding : 10px 20px 2px 20px;
    max-height: 55%;
}

.popup .rightAlign table td{
    text-align : right;
}

.hiddenDiv {
    display : none;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
input,
input::-moz-placeholder {
    font-size: 20px;
    line-height: 3;
}

/*Table Stuff*/
.slimTable {
    width : 80%;
}

.slimTable td, th{
    padding : 0px 5px;
    vertical-align: text-top;
}

.slimTable .rightCell{
    text-align : right;
}

label{
    font-size : 1rem;
    color : #4a148c;
}

.closeButton{
    float : right;
}

.submitButton{
    margin : 0 auto;
    width: auto;
    display: block;
}

#cartIcon :hover {
    background-color : transparent;
}

.input-field label{
    color : black;
}

.footer-text{
    color : darkslateblue;
}

/*Calculator specific stuff*/
#calculatorBox {border : 1px solid black;
    height : 50%;
    width : 25%;
    border-radius : 10px;
    background-color : grey;}
#buttons {width : auto;
    font-size : 85%;}

.calcButton {border : 1px solid black;
    height : 7.6%;
    width : 15%;
    margin : 3%;
    border-radius : 5px;
    text-align : center;
    display : inline-block;
}

#outputt {width : 80%;
    margin-left : 5%;
    margin-right : 5%;
    margin-top : 5%;
    border : 2px solid black;
    height : 5%;
    background-color : white;
    padding : 5px;}

#calculatorBox button {
    box-shadow : 2px 2px 2px black;}

#calculatorBox button:active {
    transform : translate(2px, 1px);}



/*Media Queries*/
@media (max-width : 480px) {
    .popupContainer{
        background-color : #f4eff7;
        /*width : 85%;*/
    }


}